
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.marquee {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 57px;
    right: 0;
  }
  .accordeonBody{
    transition: all 1.6s;
    overflow: hidden;
    max-height: 0;
  }

  .content0 {
    animation: marquee0 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content1 {
    animation: marquee1 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content2 {
    animation: marquee2 20s infinite linear;
    /* animation-delay: -10s; */
  }
  @keyframes marquee0 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  
  @keyframes marquee1 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  @keyframes marquee2 {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
  
  .content0:after  .content1:after .content2:after {
    content: "БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ";
  }

  .content3 {
    animation: marquee0 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content4 {
    animation: marquee1 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content5 {
    animation: marquee2 20s infinite linear;
    /* animation-delay: -10s; */
  }

  .content3:after  .content4:after .content5:after {
    content: "ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВЕРБАЛЬНАЯ ИДЕНТИФИКАЦИЯ";
  }

  .content6 {
    animation: marquee0 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content7 {
    animation: marquee1 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content8 {
    animation: marquee2 20s infinite linear;
    /* animation-delay: -10s; */
  }

  .content6:after  .content7:after .content8:after {
    content: "ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ";
  }

  .content6 {
    animation: marquee0 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content7 {
    animation: marquee1 20s infinite linear;
    /* animation-delay: -10s; */
  }
  
  .content8 {
    animation: marquee2 20s infinite linear;
    /* animation-delay: -10s; */
  }

  .content3:after  .content4:after .content5:after {
    content: "ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ{'<->'}ВИЗУАЛЬНАЯ ИДЕНТИФИКАЦИЯ";
  }