@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: BakemonoLight;
    src: url("./assets/fonts/Bakemono-Stereo-Medium-trial.ttf");
}

body{
    font-family: "BakemonoLight";
    color: white;
}