@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bakemonoMedium;
  src: url("./assets/fonts/Bakemono-Stereo-Medium-trial.ttf") format("ttf");
}

@font-face {
  font-family: bakemonoLight;
  src: url("./assets/fonts/Bakemono-Stereo-Light-trial.ttf") format("ttf");
}

@font-face {
  font-family: bakemono;
  src: url("./assets/fonts/Bakemono-Stereo-Extralight-trial.woff")
    format("woff");
}
