@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: BakemonoMedium;
    src: url("./assets/fonts/Bakemono-Stereo-Medium-trial.ttf");
}

@font-face {
    font-family: BakemonoLight;
    src: url("./assets/fonts/Bakemono-Stereo-Light-trial.ttf");
}

body{
    font-family: "BakemonoMedium";
    color: white;
}