.marquee {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 85px;
  right: 0;
}

.content1 {
  animation: marquee1 20s infinite linear;
  /* animation-delay: -10s; */
}

.content2 {
  animation: marquee2 20s infinite linear;
  /* animation-delay: -10s; */
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.content1:after .content2:after {
  content: "БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ{'<->'}БРЕНД СТРАТЕГИЯ";
}


.animateTest{
  animation: fadeInFromNone 1s forwards;
  animation-iteration-count: 1;
}

@keyframes fadeInFromNone {
  0% {
      opacity: 1;
  }

  50% {

      opacity: 0.5;
  }

  100% {
    display: none;
      opacity: 0;
  }
}